use_default_settings: true

general:
  instance_name: "MyGene Search"
  debug: false

search:
  safe_search: 1
  autocomplete: ""
  default_lang: "en"
  formats:
    - html
    - json

server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "mygene-searxng-2026-s3cret"
  limiter: false
  image_proxy: false

ui:
  static_use_hash: true
  default_theme: simple

outgoing:
  request_timeout: 10.0
  max_request_timeout: 15.0
  useragent_suffix: ""
  pool_connections: 100
  pool_maxsize: 20

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false

  - name: bing
    engine: bing
    shortcut: b
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: google scholar
    engine: google_scholar
    shortcut: gs
    disabled: false

  - name: pubmed
    engine: pubmed
    shortcut: pm
    disabled: false
    categories: science

  - name: wikipedia
    engine: wikipedia
    shortcut: wp
    disabled: false

  - name: wikidata
    engine: wikidata
    shortcut: wd
    disabled: true

  - name: brave
    engine: brave
    shortcut: br
    disabled: false

  - name: startpage
    engine: startpage
    shortcut: sp
    disabled: true
